// .catalog {}

.catalog__wrapper {
  padding: 50px 20px 44px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}
// .catalog__heading {}
// .catalog__filter {}
// .catalog__sorting {}
// .catalog__cards {}
