.footer {
  background-color: var(--Base-White);
  padding: 20px 20px 30px;

  @media (min-width: $tablet-width) {
    padding: 40px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }
}

.footer__wparrep {
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, minmax(318px, 1fr));
  }
}

.footer__social-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;

  @media (min-width: $tablet-width) {
    flex: 1 0 100%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
}

.footer__social-content,
.footer__nav,
.footer__media,
.footer__contacts {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px var(--Base-Secondary) solid;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.footer__copyright {
  flex: 1 0 100%;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

@media (min-width: $tablet-width) {
  .footer__nav,
  .footer__media,
  .footer__contacts {
    flex: 1 0 30%;
  }

  .footer__contacts .footer__title {
    padding-bottom: 20px;
  }
}

.footer__title {
  color: var(--Base-Primary);
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
}

.footer__list {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.footer__link {
  display: block;
  padding: 8px 0;
  color: var(--Base-Black);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  &:focus,
  &:hover {
    color: var(--Primary-Lighter);
  }

  &:active {
    color: var(--Primary-Darker);
  }
}
