.logo--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.logo__text {
  display: none;
  color: var(--Base-Black);

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo--header .logo__text {
  @media (min-width: $desktop-width) {
    padding: 24px 0;
    width: 130px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
  }
}

.logo--footer .logo__text {
  @media (min-width: $desktop-width) {

    font-size: 14px;
    line-height: 20px;
    /* 142.857% */
    padding-top: 10px;
  }
}
