.logo--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.logo__text {
  display: none;
  color: var(--Base-Black);

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo--header .logo__text {
  @media (min-width: $desktop-width) {
    padding: 24px 0;
    width: 130px;
  }
}

.logo--footer .logo__text {
  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}
