.navigation {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.navigation--open {
  display: block;
}

.navigation__list {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.navigation__item {
  background-color: var(--Base-White);

  border-top: 1px var(--Base-Secondary) solid;

  &:last-child {
    border-bottom: 1px var(--Base-Secondary) solid;
  }

  &:active {
    background-color: var(--Base-Secondary);
  }

  @media (min-width: $tablet-width) {
    border: none;

    &:last-child {
      border: none;
    }
  }
}

.navigation__link {
  display: block;
  padding: 20px;
  color: var(--Base-Black);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px;

    &:hover,
    &:focus {
      color: var(--Base-Primary);
    }
  }
}

.navigation__link--active {
  @media (min-width: $tablet-width) {
    color: var(--Base-Primary);
    border-bottom: 2px solid var(--Base-Primary);
    padding-bottom: 30px;
  }
}
