// /* filters-bar and sort-bar section */

.range__filter {
  width: 280px;

  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 318px;
  }
}

.range__controls {
  position: relative;
  height: 24px;
  width: 280px;

  margin-bottom: 24px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range__controls .range__scale {
  height: 2px;
  background: var(--Light-Grey);
}

.range__controls .range__bar {
  width: 77%;
  height: 2px;
  background: var(--Primary-Lighter);
}

.range__toggle {
  cursor: pointer;

  &--min::before,
  &--max::before {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px var(--Primary-Lighter) solid;
    background-color: var(--Base-White);
  }

  &--min::before {
    left: 0;
  }

  &--max::before {
    right: 52px;
  }

  &--min:hover::after,
  &--min:focus::after,
  &--max:hover::after,
  &--max:focus::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--Primary-Opacity);
    top: 4px;
    border-radius: 50%;
  }

  &--min:hover::after,
  &--min:focus::after {
    left: 4px;
  }

  &--max:hover::after,
  &--max:focus::after {
    right: 56px;
  }

  &--min:active::before,
  &--max:active::before {
    border-color: var(--Base-Primary);
  }

  &--min:active::after,
  &--max:active::after {
    background-color: var(--Base-Primary);
  }
}

.range:disabled {
  .range__toggle {
    cursor: auto;
  }

  .range__toggle::before {
    border-color: var(--Base-Grey);
  }

  .range__bar,
  .range__toggle::after {
    background-color: var(--Base-Grey);
  }

  .range__toggle::after {
    background-color: var(--Base-White);
  }
}
