.slider-controls {
  display: flex;
  gap: 8px;
}

.slider-controls__button {
  background-color: var(--Base-White);
  width: 62px;
  height: 4px;
  margin: 10px 0;
  flex-shrink: 0;
  border-radius: 0;

  &:hover,
  &:focus {
    background-color: var(--Primary-Opacity);
  }
}

.slider-controls__button--current {
  background-color: var(--Base-Primary);
}
