.sorting {
  display: grid;
  grid-template-columns: 107px 165px;
  gap: 8px;
  justify-content: end;
}

.sorting > select {
  font-family: var(--font-main);
  color: var(--Base-Black);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
